*{
  margin:0;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pokemon-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:40px;
  width:90%
}
.pokemon-actif{
  height:40vh;
  background-image: url('../public/images/téléchargement.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  width:100%;
}
.left{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left img{
  height:40vh
}
.pokeinfo{
  background-color: rgb(61, 116, 61);
  padding:2rem;
  border-radius: 30px;
  width:40%
}
.pokemon-list{
  margin-top:30px;
}
.pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
}
.pokemon a{
  text-decoration: none;
  color:black;
  font-weight: bold;
}
.pokemon img{
  height:140px;
}
.pokemon button{
  border:none;
  padding:0.4rem;
  width:100%;
  outline:none;
  border:1px solid black;
  background-color: rgb(252, 45, 45);
  color:white;
}
.pokemon p{
  text-transform: capitalize;
}
.searchbar{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: end;
  height:40px;
}
.searchbar input{
  margin-right:30px;
  border-radius: 30px;
  height:30px;
  text-align: center;
}
.searchbar input:focus{
  outline:none;
}
.pokedex{
  width:80%;
}
@media only screen and (max-width:700px) {
  .pokemon-list{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media only screen and (max-width:530px) {
  .pokemon-list{
    grid-template-columns: 1fr 1fr;
  }
}
